*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;  
}

header{
  border-radius: 0px 0px 40px 40px;
}
 
button:hover{
  cursor: pointer;
}

a{
  color: white;
  text-decoration: none
}

a:hover{
  cursor: pointer;
  transition: all ease 0.3s;
  transform: scale(1.05);
}